<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>
<title>Pick Host</title>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Select where to open this archive:</h1>
        </br>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-primary btn-lg" href="open?host=localhost%3A8888&title={{request.args.get('title')}}&format={{request.args.get('format')}}&archive={{request.args.get('archive')}}">Ipython</a>
                <p class="small">Open locally with IPython</p>
            </div>
        </div>
	    <div class="row">
		    <div class="col-md-12" style="text-align:center">
			    <a class="btn btn-primary btn-lg" href="spyder?host=localhost%3A8888&title={{request.args.get('title')}}&format={{request.args.get('format')}}&archive={{request.args.get('archive')}}">Spyder/Tellurium</a>
				<p class="small">Open locally with Spyder/Tellurium</p>
			</div>
		</div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-primary btn-lg" href="">viewer.sysb.io</a>
                <p class="small">Try out our cloud service!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-danger btn-lg" href="quit?host=localhost%3A8888&title={{request.args.get('title')}}&format={{request.args.get('format')}}&archive={{request.args.get('archive')}}">Quit</a>
				<p class="small">Quit IPython</p>
            </div>
        </div>
	</div>
</div>
</body>
